In [4]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect("../data/twitter.db")
cursor = conn.cursor()

In [15]:
data = cursor.execute("SELECT * from tweets_raw;")
raw_tweets = cursor.fetchall()
#author_id = result[0][0]

clean_df = pd.DataFrame(
            [
                (tweet[0], tweet[1], tweet[2])
                for tweet in raw_tweets
            ],
            columns=["id", "author", "text"],
        )

In [19]:
clean_df.text

0       #Python Pop Quiz üêç‚ùì\n\nHere we have a dataclas...
1       @mousevspython Thanks for checking out my mini...
2       You can learn more about how the `ChainMap` in...
3       Here's another example where you create a Chai...
4       Let's look at an example of using `ChainMap` i...
                              ...
3706    I turned my silly 3-liner #Python script to co...
3707    The PyDev of the Week is Luiz Gustavo Martins ...
3708    One of my favorite #Python modules is `shutil`...
3709    Discover how easy it is to download a file in ...
3710    What is your favorite #Python editor for begin...
Name: text, Length: 3711, dtype: object

In [78]:
min_words = 3


self.clean_df = (
            self.clean_df[~self.clean_df.text.str.contains("https")]
            .assign(
                n_words=self.clean_df.text.str.split().map(len),
                text=self.clean_df.text.str.strip(),
            )[lambda x: x.n_words >= self.min_words]
            .drop("n_words", axis=1)
            .reset_index(drop=True)
        )

clean_data(df)

                      id                                               text
0    1535548780535173120                             best fake cryptic cube
1    1535548397158969344                                    close your door
2    1535547131645157376                                  what is your name
3    1535546957107560448  the game only a human could randomly make up s...
4    1535546828988379137                     you gotta learn to take a joke
..                   ...                                                ...
488  1534978313252327424                               value is a construct
489  1534978080271323137                            a moment of silence‚òØÔ∏èüòåüí´
490  1534977934347227136                                 and save the world
491  1534977905796608000                                  lol have a seance
492  1534977843938983936                               cult of personality?

[493 rows x 2 columns]