In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("../data/twitter.db")
cursor = conn.cursor()

In [6]:
data = cursor.execute("SELECT distinct(authorID) from raw_tweets;")
result = cursor.fetchall()
#author_id = result[0][0]

OperationalError: no such table: raw_tweets

In [10]:
from ..src.mockingjay.process import Process

ImportError: attempted relative import with no known parent package

In [15]:
tweets = cursor.execute("SELECT tweetID, tweet FROM tweets WHERE authorID = (?)", (author_id,))
data = cursor.fetchall()

In [78]:
min_words = 3
df = pd.DataFrame(data, columns=["id", "text"])



clean_data(df)

                      id                                               text
0    1535548780535173120                             best fake cryptic cube
1    1535548397158969344                                    close your door
2    1535547131645157376                                  what is your name
3    1535546957107560448  the game only a human could randomly make up s...
4    1535546828988379137                     you gotta learn to take a joke
..                   ...                                                ...
488  1534978313252327424                               value is a construct
489  1534978080271323137                            a moment of silence‚òØÔ∏èüòåüí´
490  1534977934347227136                                 and save the world
491  1534977905796608000                                  lol have a seance
492  1534977843938983936                               cult of personality?

[493 rows x 2 columns]